<div class="text-12 font-medium uppercase flex items-center mb-24px">
	<a routerLink="/projects" class="cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-1">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-1">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100">SUBSCRIPTIONS</span>
</div>

<!-- <div *ngIf="!isLoadindingdevices && devices?.content?.length">
	<div class="flex justify-between items-end border-b border-b-grey-10 pb-20px mb-24px">
		<div class="flex items-center">
			<h1 class="text-24 font-bold text-grey-80 mr-10px">Subscriptions</h1>
			<convoy-tooltip tooltipContent="On Convoy, endpoints are subscribed to listen to events from a source along with configurations like retries and event filters. This page list all your existing subscriptions" position="right"></convoy-tooltip>
		</div>
		<button convoy-button size="sm" routerLink="./new">Create a subscription</button>
	</div>
</div> -->
