<div convoy-page>
	<ng-container *ngIf="isLoadingProjects">
		<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-20 mb-20px"></div>
		<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-60 mb-24px"></div>

		<div class="grid grid-cols-3 desktop:grid-cols-2 gap-6">
			<div *ngFor="let index of projectsLoaderIndex" class="rounded-8px bg-white-100 block border border-primary-25">
				<div class="px-6 py-4 flex items-center justify-between border-b border-b-primary-25">
					<div class="flex items-center">
						<div class="bg-primary-50 w-6 h-6 rounded-[50px] mr-2 flex items-center justify-center">
							<svg width="16" height="16" class="stroke-primary-400">
								<use xlink:href="#top-right-icon"></use>
							</svg>
						</div>
						<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-140px"></div>
					</div>

					<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-16"></div>
				</div>

				<div class="flex items-center p-0">
					<div class="py-2 px-6 w-2/5">
						<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-18"></div>
					</div>
					<div class="py-2 px-6 w-3/5 flex items-center justify-between border-l border-l-primary-25">
						<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-16"></div>
						<div class="bg-gray-200 rounded-[24px] animate-pulse h-4 w-10"></div>
					</div>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container *ngIf="!isLoadingProjects && projects.length">
		<h3 class="mb-2 font-semibold">Projects</h3>
		<p class="text-gray-600 text-14 font-normal mb-24px">All your project's summary at a glance</p>

		<div class="grid grid-cols-3 desktop:grid-cols-2 gap-6">
			<a convoy-card hover="true" convoy-permission="Project Settings|MANAGE" routerLink="./new" class="border border-dashed border-primary-400 flex items-center justify-center py-8">
				<svg width="22" height="22" class="mr-2 fill-primary-400">
					<use xlink:href="#plus-icon"></use>
				</svg>
				<span class="text-primary-400 font-medium text-16">Create new project</span>
			</a>

			<ng-container *ngFor="let project of projects">
				<button (click)="getProjectCompleteDetails(project.uid)" convoy-card hover="true" class="text-left">
					<div class="px-6 py-4 flex items-center justify-between border-b border-b-primary-25">
						<div class="flex items-center">
							<div class="bg-primary-50 w-6 h-6 rounded-[50px] mr-2 flex items-center justify-center">
								<svg width="16" height="16" class="stroke-primary-400" [ngClass]="{ 'rotate-180': project.type === 'incoming' }">
									<use xlink:href="#top-right-icon"></use>
								</svg>
							</div>
							<h4 class="cursor-pointer text-14 font-medium">{{ project.name }}</h4>
						</div>

						<div convoy-tag class="uppercase" size="sm">{{ project.type || '-' }}</div>
					</div>

					<div class="flex items-center p-0 text-12 text-gray-500">
						<div class="py-2 px-6 w-1/2 whitespace-nowrap">
							<span class="mr-2">{{ project.statistics?.messages_sent | number }}</span>
							<span>Events {{ project.type === 'incoming' ? 'Received' : 'Sent' }}</span>
						</div>
						<div class="py-2 px-6 w-1/2 whitespace-nowrap flex items-center justify-between border-l border-l-primary-25">
							<div>
								<span class="mr-2">{{ project.statistics?.total_endpoints | number }}</span>
								<span>Endpoints</span>
							</div>
							<svg width="20" height="20" class="fill-primary-400">
								<use xlink:href="#arrow-right-icon"></use>
							</svg>
						</div>
					</div>
				</button>
			</ng-container>
		</div>
	</ng-container>

	<!-- empty state  -->
	<div class="py-100px mt-24px" convoy-card *ngIf="!isLoadingProjects && !projects.length">
		<div convoy-empty-state imgSrc="/assets/img/events-empty-state-image.svg" heading="You currently have no projects" description="Your incoming and outgoing projects appear here." id="subscriptions-empty-state">
			<button convoy-button convoy-permission="Project Settings|MANAGE" emptyStateCTA routerLink="./new" class="mt-36px">Create a Project</button>
		</div>
	</div>

	<convoy-loader *ngIf="isLoadingProject" position="fixed"></convoy-loader>
</div>
