<div convoy-modal position="full" [id]="'configureProjectForm'" [title]="projectType === 'outgoing' ? 'Configure Outgoing Project' : 'Configure Incoming Project'" (closeModal)="cancel()">
	<div class="pb-60px" modalBody>
		<convoy-card className="p-30px" *ngIf="projectStage === 'setupSDK'">
			<h2 class="font-semibold mb-8px">SDK installation</h2>
			<p class="text-grey-60 text-14 max-w-[555px] mb-26px">Select your preffered and follow the intstructions below to install your SDK to get started.</p>

			<div class="flex mb-36px">
				<button convoy-button size="sm" class="mr-16px" (click)="router.navigateByUrl('/projects/' + this.privateService.activeProjectDetails?.uid)">
					I have completed configuration
					<svg width="14" height="14" class="ml-8px fill-white-100">
						<use xlink:href="#doc-icon"></use>
					</svg>
				</button>
				<button convoy-button fill="outline" size="sm" (click)="toggleActiveStage({ project: 'createEndpoint' })">
					Setup Without SDK
					<svg width="14" height="14" class="ml-8px fill-primary-100">
						<use xlink:href="#info-icon"></use>
					</svg>
				</button>
			</div>

			<sdk-documentation (onAction)="cancel()"></sdk-documentation>
		</convoy-card>

		<!-- <convoy-card className="p-24px mb-24px" *ngIf="projectStage !== 'setupSDK'">


			<div *ngIf="projectStage === 'createSource'">
				<h2 class="mt-24px font-semibold">Create your first source</h2>
				<p class="text-14 text-grey-40 mt-8px w-4/5">Create a source that'll triger a webhook event in your project</p>
			</div>
			<div *ngIf="projectStage === 'createEndpoint'">
				<h2 class="mt-24px font-semibold">Create your first endpoint</h2>
				<p class="text-14 text-grey-40 mt-8px w-4/5">Create an endpoint(s) that'll listen to events on this project</p>
			</div>
			<div *ngIf="projectStage === 'createSubscription'">
				<h2 class="mt-24px font-semibold">Create your first subscription</h2>
				<p class="text-14 text-grey-40 mt-8px w-4/5">Create a subscription that'll listen to events from your source</p>
			</div>
		</convoy-card> -->

		<ng-container *ngIf="privateService.activeProjectDetails?.uid">
			<convoy-create-source format="short" (onAction)="$event?.action == 'close' ? cancel() : toggleActiveStage({ project: 'createEndpoint', prevStage: 'createSource' })"></convoy-create-source>

			<convoy-create-endpoint #endpointComp format="short" (onAction)="$event?.action == 'close' ? cancel() : toggleActiveStage({ project: 'createSubscription', prevStage: 'createEndpoint' })"></convoy-create-endpoint>

			<!-- <convoy-create-subscription format="short" (onAction)="onProjectOnboardingComplete()"></convoy-create-subscription> -->
			<div class="flex justify-end mt-32px">
				<button convoy-button class="mr-16px text-14 transition-all duration-300 hover:text-danger-100 hover:border-danger-100" fill="outline" type="button" (click)="cancel()">Discard</button>
				<button convoy-button class="text-14" (click)="getSourceURL()">
					{{ isSubmittingForms ? 'Getting Source URL...' : 'Get Source URL' }}
					<svg width="24" height="24" class="ml-8px" class="fill-white-100">
						<use xlink:href="#arrow-right-icon"></use>
					</svg>
				</button>
			</div>
		</ng-container>
	</div>
</div>
